<div class="contact-us-container">
  <h1 style="text-align: center; font-family: Roboto">Contact Us</h1>
  <div class="contact-us-group">
    <div class="contact-us-card">
      <mat-card>
        <div class="card-front">
          <mat-icon>phone</mat-icon>
          <h3 style="text-align: center">Call us</h3>
            <p style="text-align: center">
              +1 (675) 438-2417
            </p>
        </div>
      </mat-card>
    </div>
    <div class="contact-us-card">
      <mat-card>
        <div class="card-front">
          <mat-icon>email</mat-icon>
          <h3 style="text-align: center">Email us</h3>
            <p style="text-align: center">
              support@recommend.me
            </p>
        </div>
      </mat-card>
    </div>
    <div class="contact-us-card">
      <mat-card>
        <div class="card-front">
          <mat-icon>place</mat-icon>
          <h3 style="text-align: center">Address</h3>
            <p style="text-align: center">
              1 Washington Sq, San Jose, CA 95192
            </p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
