<div class="about-container">
  <h1 style="text-align: center; font-family: Roboto">About Us</h1>
    <p style="font-size: larger; padding: 10px; margin-left: 80px; margin-right: 80px; font-family: Roboto">
      Recommend me was created by three San Jose State Computer Engineering
      students who wanted to experiment with graphing algorithms
      and learn how they can be used to recommend movies and actors.
    </p>
  <div class="contributor-group">
    <div class="contributor-card">
      <mat-card>
        <div class="card-front">
          <h3 style="text-align: center">Salvatore Nicosia</h3>
          <div class="contributor-image-salvo">
          </div>
          <div class="contributor-info">
            <p style="text-align: center">
              Senior Computer Engineering Student at SJSU
            </p>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="contributor-card">
      <mat-card>
        <div class="card-front">
          <h3 style="text-align: center">Ben Krig</h3>
          <div class="contributor-info">
            <p style="text-align: center">
              Senior Computer Engineering Student at SJSU
            </p>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="contributor-card">
      <mat-card>
        <div class="card-front">
          <h3 style="text-align: center">Leonardo Pangco</h3>
          <div class="contributor-image">
          </div>
          <div class="contributor-info">
            <p style="text-align: center">
              Senior Computer Engineering Student at SJSU
            </p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
