<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="search-container" fxLayout="row" fxLayoutAlign="center" style="background-image: url('http://i.imgur.com/mnjyN8d.jpg'); background-size: contain" >
  <div class="row" style="padding: 100px; margin: 100px">
      <mat-form-field appearance="outline" style="width: 674px; height: 65px; background: black; border-radius: 10px; padding-bottom: 0">
        <mat-label style="color: white">Search a Movie or an Actor</mat-label>
        <input matInput (keyup)="search($event.target.value)">
      </mat-form-field>
    <button mat-icon-button style="vertical-align: super; background: white">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
<app-dasher></app-dasher>

