<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="search-container" fxLayout="row" fxLayoutAlign="center" style="background: white">
  <div class="row" style="padding: 90px; margin: 90px">
      <mat-form-field appearance="outline" style="width: 674px">
        <mat-label>Search a Movie or an Actor</mat-label>
        <input matInput (keyup)="search($event.target.value)">
      </mat-form-field>
    <button mat-icon-button style="vertical-align: super">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
<app-dasher></app-dasher>

